@model Student

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Static Model</h1>

@*
    As it can be seen in the view all the input fields are populated with values from the model passed    
*@

<div class="container">
    @* This form was created in order to send data to the action SendStaticModel in homecontroller,
        also the type of the request is mentioned using method*@"
    <form asp-action="SendStaticModel" method="post">
        <div class="form-group">
            <label class="form-control">
                Student name:
            </label>
            @*In order to set data value for property of the model used the name attribute is added to the input element
                and the value of name is same as the property name in the model, check the other input fields*@
            <input name="Name" class="form-control" style="border:5px solid blue;" />
        </div>
        <div class="form-group">
            <label class="form-control">
                Student Date of Birth:
            </label>
            @* Ideally you will be using asp-for when you want to set the value for a property of a model as it adds
                other useful content apart from the name attribute
                check https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms?view=aspnetcore-2.2 for more details*@
            <input asp-for="DateOfBirth" style="border:5px solid blue;" type="date" class="form-control" />
        </div>
        <div class="form-group">
            <label class="form-control">
                Student Age:
            </label>
            <input asp-for="Age" style="border:5px solid blue;" class="form-control" />
        </div>
        <div class="form-group">
            <label class="form-control">
                Student Programme of Study:
            </label>
            <input asp-for="ProgrammeOfStudy" class="form-control" style="border:5px solid blue;" />
        </div>
        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-primary" />
        </div>
    </form>
</div>

